:root{
    --dk-gray: #222;
    --lt-gray: #eaeaea;
    --bright-green: #D7F205;
    --purple:  #8857F2;
    --violet: #6B71F2;
    --orange: #F28705;
}

*{
    font-family: Arial, Verdana, sans-serif;
    line-height: 1.35;
    color: var(--dk-gray);
}

body{
    margin: 0;
}

header, footer{
    text-align: center;
    padding: 1.5rem;
    background-color: var(--lt-gray);
}

h1, h2, h3{
    text-align: center;
}

h1{
    text-decoration: solid underline var(--purple) 4px;
}

h2{
    text-decoration: solid underline var(--orange) 3px;
}

h3{
    text-decoration: solid underline var(--violet) 2px;
}

p{
    max-width: 65ch;
    margin: 1rem auto;
}

code{
    font-family: monospace;
    font-size: 1rem;
}

section > section{
    width: fit-content;
    margin: 3rem auto;
}

mark{
    background-color: var(--bright-green);
}
